{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "REPLACE_WITH_TEAM_ID.com.questapp.mobileApp",
        "paths": [
          "/post/*",
          "/user/*",
          "/join/*"
        ]
      }
    ]
  }
}
